venv/
__pycache__/
*.pt
.vscode/
app.spec
app.exe
build/

# .pt models
models/

# images
imgs/wholeBodyANT
imgs/wholeBodyANT_preprocessed
imgs/wholeBodyANT_processed
imgs/wholeBodyPOST
imgs/wholeBodyPOST_preprocessed
imgs/wholeBodyPOST_processed